*{
    font-family: Helvetica;
}

header, #headerstartspace{
    height: .75in;
}

header{
    position: fixed;
    width: 100%;
    background-color: dodgerblue;
    z-index: 2;
}

header button{
    margin: .125in;
    height: .5in;
    padding: .15in;
    font-weight: bold;
    background-color: lightskyblue;
    border-radius: 20px;
    border: 0px;
}

body{
    margin: 0px;
}