table{
    border-collapse: collapse;
}

td, th{
    font-size: 22px;
    height: 1em;
    padding: .5em;
    border: 1px solid black;
}

th{
    background:dodgerblue;
}
td{
    background:lightskyblue;
}

#canvascontainer, #infotable{
    margin: 15px;
}

