table{
    border-collapse: collapse;
}
th {
    font-weight: bold;
    font-size: 12px;
}
td{
    font-size: 10px;
}
th, td{
    border: 1px solid black;
    padding: .5em .5em .5em .5em;
}

/* collapsible taken from https://www.w3schools.com/howto/howto_js_collapsible.asp */

.collapsible{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    margin: 10px 10px 10px 10px; 
    padding: 18px;
    width: auto;
    border: none;
    text-align: left;
    border-radius: 10px;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    background-color: #ccc;
  }

  /* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

.nationsheet{
    margin: 2em;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-width: 800px;
    max-width: 100%;
}

.arrowcontainer{
    border: 1px solid grey;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 120px;
    padding: 25px;
}

.nationsheet table{
    margin: 0em 1em 0.5em 1em;
}