*{
    font-family: Helvetica;
}

body{
    margin: 0px;
}

.primary-color {
  background-color: dodgerblue;
}

.secondary-color {
  background-color: lightskyblue;
}

.value-emphasis {
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222222;
  }
  h1, h2, h3, h4, h5, h6, label {
    color: #eee;
  }

  .secondary-color {
    background-color: #1776d3;
    color: white;
    font-weight: bold;
  }

  .value-emphasis {
    background-color: #006fde;
    font-weight: inherit;
  }

  .value-muted {
    background-color: #2a5989;
    color: #abe;
  }
}

header, #headerstartspace{
    height: .75in;
}

header{
    position: fixed;
    width: 100%;
    background-color: dodgerblue;
    z-index: 2;
}

header button{
    margin: .125in;
    height: .5in;
    padding: .15in;
    font-weight: bold;
    background-color: lightskyblue;
    border-radius: 20px;
    border: 0px;
}

header button.admintool{
    background-color: rgb(182, 149, 254);
}

header button:hover{
    background-color: rgb(114, 178, 217);
}


header button.admintool:hover{
    background-color: rgb(156, 127, 218);
}

header button:disabled{
    background-color: lightgrey;
    color: grey;
}

