table{
    border-collapse: collapse;
}

td, th{
    font-weight: bold;
    height: 1em;
    padding: .5em;
    border: 1px solid black;
}

th{
    background:dodgerblue;
    font-size: 16px;
}
td{
    background:lightskyblue;
    font-size: 14px;
}

#canvascontainer {
    position: relative;
}

#canvascontainer > * {
    position: absolute;
}

#infocontainer {
  position: fixed;
  z-index: 10;
  display: flex;
}

#infocontainer > * {
  margin: 1em;
}
