.dropdown *{
    font-family: 'Consolas', 'Courier New', Courier, monospace;
}

#advancedsettings, #advancedsettingstoggle, .nationsheet{
    margin: 40px;
}

form{
    margin-bottom: 0px;
}

table{
    border-collapse: collapse;
}

.submitccf{
    background-color: green;
}

.submitccf:disabled{
    background-color: lightgrey;
}

th, td{
    border: 1px solid black;
    padding: .5em .5em .5em .5em;
    text-align: center;
}

th{
    position: relative;
    padding-right: 20px;
    font-weight: bold;
    font-size: 16px;
}

.opiniontable th{
    position: initial;
}

td{
    font-size: 14px;
}

/* #region  collapsible taken from https://www.w3schools.com/howto/howto_js_collapsible.asp */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    margin-top: 10px;
    padding: 18px;
    width: auto;
    border: none;
    text-align: left;
    border-radius: 10px;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
    background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    border: 2px dashed #ccc ;
}

.content textarea {
    font-family: 'Courier New', Courier, monospace;
}

.content button{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
    padding: 12px;
}

/* #endregion */

.nationsheet{
    display: flex;
    flex-wrap: wrap;
    padding-top: 0.5em;
    background-color:#fffff4;
    width: 1600px;
}

.nationnamedisplay {
    margin: auto;
    width: 200px;
    text-align: center;
}

.arrowcontainer,
.arrowcontainer * {
    font-size: xx-large;
}

.arrowcontainer {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 3.5em;
    padding: 25px;
}

.nationsheet table, .tabletitle{
    margin: 0em 1em 0.5em 1em;
}

.nationsheet td img{
    width: 460px;
    padding: 0px;
}

.nationsheet table img.notapplicable{
    margin: 0px;
    max-width: 100%;
    height: auto;
}

#dropdownselection, #searchstatcontainer{
    display: grid;
    align-items: center;
    width: 200px;
    margin: auto;
    padding-bottom: 1em;
}

#dropdownselection label, #searchstatcontainer label{
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
}

.opiniontable td *{
    text-align: center;
}

.opiniontable td img{
    width: 50px;
}

.stattypeicon{
    position: absolute;
    top: 2px;
    right: 2px;
    width: 16px;
}

.pixelated {
    image-rendering: pixelated;
}